@use '@/presentation/styles/variables.scss' as *;

.input {
    width: 20rem;
    height: 3rem;
    border-radius: .5rem;
    border: none;
    padding-left: 1rem;
    background-color: #F6F8FA;
    z-index: 100;
}

.input:focus {
    outline: none;
}
