@use '@/presentation/styles/variables.scss' as *;

.button {
    width: 20rem;
    height: 3rem;
    border: none;
    border-radius: 20rem;
    background-color: #010103;
    color: $color-white;
    font-size: $font-size-base;
    font-weight: $font-weight-medium;
    cursor: pointer;
    z-index: 100;
}
