@use '@/presentation/styles/index.scss' as *;

.button-to-close {
    width: 32px;
    height: 32px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    &__span {
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
    }
}
