@use '@/presentation/styles/index.scss' as *;

.circle {
    position: absolute;
    top: -8rem;
    left: -16rem;
    width: 50rem;
    height: 50rem;
    border-radius: 50%;
    background-color: #F8B933;
    border-radius: 36% 64% 61% 39% / 30% 30% 70% 70% ;
}

.circle-two {
    position: absolute;
    bottom: -30rem;
    right: -24rem;
    width: 50rem;
    height: 50rem;
    border-radius: 50%;
    background-color: #F8B933;
    border-radius: 36% 64% 61% 39% / 30% 30% 70% 70% ;
}

