@use '@/presentation/styles/index.scss' as *;

.set-options-to-nav {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    cursor: pointer;
}