@use '@/presentation/styles/index.scss' as *;

.logo {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    &__p {
        font-size: 18px;
        font-weight: 600;
    }
}
