@use '@/presentation/styles/index.scss' as *;
@use '@/presentation/styles/mixins.scss' as *;

.second-nav-desktop {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fafafa;
    padding: 1rem;
    border-bottom: 1px solid #e5e5e5;
    @include responsiveCirclesLogin(mobile) {
        display: none;
    }
}
