@use '@/presentation/styles/index.scss' as *;

.select-type-user-button {
    width: 11.25rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 1rem 1rem 0 0;
    cursor: pointer;
    z-index: 100;
    &__icon {
        width: 2rem;
        color: #6e6e6e;
        opacity: 0.7;
        
    }
}

.select-type-user-button:hover {
    -webkit-box-shadow: 0px -7px 23px -20px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px -7px 23px -20px rgba(66, 68, 90, 1);
    box-shadow: 0px -7px 23px -20px rgba(66, 68, 90, 1);
    z-index: 100;
}


.buttonActive {
    width: 11.25rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 1rem 1rem 0 0;
    cursor: pointer;
    -webkit-box-shadow: 0px -7px 23px -20px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px -7px 23px -20px rgba(66, 68, 90, 1);
    box-shadow: 0px -7px 23px -20px rgba(66, 68, 90, 1);
    z-index: 100;
    &__icon {
        width: 2rem;
        color: #010103; 
    }
}

