@use '@/presentation/styles/index.scss' as *;

.tikets {
    // Components styles
}
.open {
    width: 5rem;
    background-color: #60fc65;
    border: none;
    border-radius: .25rem;
}

.close {
    width: 5rem;
    background-color: #EF5350;
    border: none;
    border-radius: .25rem;
}