@use '@/presentation/styles/index.scss' as *;
@use '@/presentation/styles/mixins.scss' as *;

.primary-layout {
    width: 100vw;
    height: 100dvb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    @include responsiveCirclesLogin(mobile) {
        flex-direction: column-reverse;
    }
}
